.table-container {
  
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.search-move-field {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  border-radius: 8px;
  padding: 4px 8px;
}

.search-move-field.mat-form-field {
  background-color: white !important;
}

.search-move-field .mat-form-field-flex {
  background-color: white !important;
}
